---
import CarouselCore from './CarouselCore.svelte';
import Img from './Img.astro';
import { imageId } from '../utils/link-handling';

interface Image {
    src: ImageMetadata;
    alt: string;
}

export interface Props {
    uniqueTitle: string;
    images: Image[];
}

const { uniqueTitle, images } = Astro.props;
---

<CarouselCore numberOfImages={images.length} containerId={uniqueTitle} client:load>
  <span slot="images">
    <div class="images" id={uniqueTitle}>
        {
            images.map((image, index) => (
                <Img
                    src={image.src}
                    alt={image.alt}
                    id={imageId(uniqueTitle, index)}
                />
            ))
        }
    </div>
  </span>
</CarouselCore>

<style>
    :global(.images > *) {
      width: 100%;
      flex-shrink: 0;
    }

    .images {
        display: flex;
        scroll-snap-type: x mandatory;
        scroll-snap-align: center;
        scroll-behavior: smooth;
        overflow: hidden;
    }
</style>
